<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

  <button onclick="myFunction0()" value="span-0" selected>None</button>
  <button onclick="myFunction1()" value="span-b">Bold</button>
  <button onclick="myFunction2()" value="span-u">Underlined</button>
  <button onclick="myFunction3()" value="span-i">Italic</button>
  <button onclick="Bold()">bold_eve</button>
  <button onclick="Italic()">italic_eve</button>

<div contenteditable="true" class="editable" id="text" >
  Some Content
</div>
<link rel="stylesheet" href="c.css">
<script src="j.js"></script>
</body>
</html>


